<table cellspacing="0" cellpadding="0" width="986" align="center" border="0">
  <tbody>
    <tr></tr>
    <tr><td height="2" align="middle" bgcolor="#FF9900"></td></tr>
    <tr><td height="20" align="middle" valign="bottom">&nbsp;</td></tr>
    <tr><td align="middle" height="19"><div align="center">电话:{{setting "company_phone"}} 传真:{{setting "company_fax"}} 手机:{{setting "company_mobile"}} 地址: {{setting "company_address"}}</div></td></tr>
    <tr><td height="25" align="center" valign="top"><div align="center">
      <p>版权所有：<a href="{{setting "site_url"}}"> {{setting "company_name"}}</a> 备案/许可证编号：<a href="https://beian.miit.gov.cn">{{setting "site_icp"}}</a></p>
    </div></td></tr>
  </tbody>
</table>
</div>
</body>
</html>
