<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{.title}} - {{setting "site_name"}}</title>
<meta name="keywords" content="{{.keywords}}" />
<meta name="description" content="{{.description}}" />
<link href="/css/c.css" rel="stylesheet" type="text/css" />
</head>
{{include "site-header.html" .}}
<div id="page_main" class="clearfix">
  <div class="page-right">
    <div class="site-nav"><span>当前位置 : </span><a href="/index.html">公司主页</a> - <a href="{{.category_url}}">{{.category_name}}</a> - {{.title}}</div>
    <div class="page-content">
      <h1 class="content-title">{{.title}}</h1>
      <p class="content-meta">{{.published_at}}{{if .source}} | {{.source}}{{end}}</p>
      {{if .summary}}<div class="content-summary">{{.summary}}</div>{{end}}
      {{if and .image (ne .image "/images/nopicture.gif")}}<p><img src="{{.image}}" alt="{{.title}}" class="content-image" /></p>{{end}}
      <div class="content-body">{{.body}}</div>
      <div class="content-neighbors">{{if .previous_url}}上一条：<a href="{{.previous_url}}">{{.previous_title}}</a>{{end}}{{if .next_url}}　下一条：<a href="{{.next_url}}">{{.next_title}}</a>{{end}}</div>
    </div>
  </div>
  <div class="page-left">
    <div class="left-content">
      <h2><span>栏目</span></h2>
      <div id="LeftMenu" class="ddsmoothmenu-v"><ul>{{range catalogCategories .}}<li><a href="{{.URL}}">{{.Name}}</a></li>{{end}}</ul></div>
    </div>
    <div class="left-search">
      <h2><span>站内搜索</span></h2>
      <form id="form2" name="form2" method="get" action="/search.html"><p><input name="q" type="text" id="q" value="找找看" size="18" class="Font_666666_a" onfocus="this.value='';" /><input name="searchbutton" type="submit" id="searchbutton" value="" /></p></form>
    </div>
  </div>
</div>
{{include "site-footer.html" .}}
