<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{tag "hope_meta_title(3)" .}}_{{tag "hope_title" .}}_{{tag "hope_webname" .}}</title><meta name="keywords" content="{{tag "hope_meta_keywords(3)" .}}">
<meta name="description" content="{{tag "hope_meta_description(3)" .}}">
<META content=阀门，球阀，闸阀 name=classification>

<link href="/css/webmain.css" rel="stylesheet" type="text/css">
</head><body oncontextmenu="return false" onmousedown="return false">{{tag "bm_top" .}}<table width="972" border="0" align="center" cellpadding="0" cellspacing="0"><tr><td width="173" valign="top">
<table width="165" border="0" align="left" cellpadding="0" cellspacing="0"><tr><td width="5"><img src="/images/menu_left.jpg" width="5" height="29" /></td>
<td width="155" align="center" background="/images/menu_bg.jpg" class="F_a Font-Weight">新闻分类</td>
<td width="5"><img src="/images/menu_right.jpg" width="5" height="29" /></td></tr><tr>
<td colspan="3" bgcolor="#F4F4F4" class="Corporation_left">{{tag "hope_newscat(4,1)" .}}</td></tr></table><DIV style="clear:both;"></DIV>
<table width="165" border="0" align="left" cellpadding="0" cellspacing="0"><tr><td width="5"><img src="/images/menu_left.jpg" width="5" height="29" /></td>
<td width="155" align="center" background="/images/menu_bg.jpg" class="F_a Font-Weight">产品分类</td>
<td width="5"><img src="/images/menu_right.jpg" width="5" height="29" /></td></tr><tr><td colspan="3" bgcolor="#F4F4F4" class="Corporation_left">
{{tag "hope_productscat()" .}}</td></tr></table><DIV style="clear:both;"></DIV><DIV style="PADDING-TOP:3px"></DIV>
<table width="165" border="0" align="left" cellpadding="0" cellspacing="0" class="Table_boder"><tr><td width="71" rowspan="4" align="right">
<img src="/images/service.jpg" width="70" height="130" /></td>
    <td width="81">&nbsp;<A href="/Contact.html" class="0a">业务联系</A></td></tr><tr>
      <td height="30">&nbsp;<a href="/job/" class="0a">人才招聘</a></td></tr><tr>
  <td height="30">&nbsp;<a href="/Contact.html" class="0a">客服电话</a></td></tr><tr>
    <td height="30">&nbsp;<a href="/msg.html" class="0a">在线联系</a></td></tr></table></td><td width="812" valign="top" ><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0"><tr>
<td width="5"><img src="/images/menu_left.jpg" width="5" height="29" /></td><td width="28" align="right" background="/images/menu_bg.jpg" class="F_a Font-Weight">
<img src="/images/index_01.jpg" width="12" height="5" /></td>
<td width="395" background="/images/menu_bg.jpg" class="F_a Font-Weight">&nbsp;首页 -新闻资讯 -<A href="{{tag "hope_catid" .}}.html" class="F_a">{{tag "hope_title" .}}</A></td>
<td width="395" background="/images/menu_bg.jpg" class="F_a Font-Weight"></td>
<td width="6"><img src="/images/menu_right.jpg" width="5" height="29" /></td></tr><tr><td height="465" colspan="5" valign="top" class="in4">
<div align="left"><table width="810" height="58" border="0" align="center" cellpadding="0" cellspacing="0"><tr><td width="814">{{tag "hope_body" .}} </td></tr></table></div></td>
</tr></table></td></tr></table>{{tag "bm_botten" .}}</div></body></html>