<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{tag "hope_title" .}}|{{tag "hope_prodkeywords" .}}</title>
<meta name="keywords" content="{{tag "hope_prodkeywords" .}}" />
<meta name="description" content="{{tag "hope_proddescription" .}}">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<meta name="classification" content="{{tag "hope_title" .}}"/>
<link href="/css/c.css" rel="stylesheet" type="text/css">
{{tag "bm_indextop" .}}
<div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>当前位置 : </span><a href="/index.html">公司主页</a> - <a href="{{tag "hope_productcaturl" .}}">产品展示</a> - {{tag "hope_title" .}}</div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="in4">
	    <tr><td width="19%" height="151" align="center" valign="top" class="in5"><img src="{{tag "hope_img" .}}" alt="{{tag "hope_title" .}}" width="160" height="134" /></td>
<td width="41%" valign="top" class="in5"><table width="100%" height="151" border="0"">
  <tr>
  <td width="24%" height="20" class="Font-Weight">产品名称：</td><td width="76%" class="Font_2E4690_a Font-Weight">{{tag "hope_title" .}}</td></tr><tr>
  <td height="20" class="Font-Weight">产品型号：</td><td class="Font-Weight Font_2E4690_a">{{tag "hope_prodcode" .}}</td></tr><tr>
  <td height="27" colspan="2" align="left">
<A href="tencent://message/?uin={{tag "hope_webqq" .}}&Site=彪维流体设备（上海）有限公司&Menu=yes" target=blank><IMG src="/images/gmzx.gif" border=0></A></td>
</tr><tr>
  <td height="26" colspan="2" align="left"><span class="Font_FF0000_a Font-Weight">咨询电话：{{tag "hope_tel" .}}</span></td>
</tr>
<tr>
  <td height="22" colspan="2" align="left"><span class="Font_FF0000_a Font-Weight">传真：{{tag "hope_fax" .}}</span></td>
</tr>
<tr>
  </tr>
</table></td>
<td width="40%" valign="top">{{tag "hope_random" .}}</td>
	  </tr></table>
      <div class="page-products">
        <table width="100%" border="0"><tr>
<td height="30" class="prod_bottom_dasheds">产品介绍</td>
</tr><tr>
  <td height="15" align="left" valign="top" class="prod_sp">{{tag "hope_body" .}}</td>
</tr></table>
      <div class="page_list">
  <div class="list_info"></div>
</div>
      </div>
    </div>
    <div class="page-left">
      <div class="left-products">
        <h2><span>产品展示</span></h2>
        <div id="LeftMenu" class="ddsmoothmenu-v">
          <ul>
{{tag "hope_productscat()" .}}
          </ul>
        </div>
      </div>
      <div class="left-search">
        <h2><span>站内搜索</span></h2>
<form id="form2" name="form2" method="post" action="/Search.asp?action=search">
          <p>
            <input name="ProductsName" type="text" id="ProductsName" value="找找看" size="18"  class="Font_666666_a" onFocus="this.value='';" />
            <input name="searchbutton" type="submit" id="searchbutton" value="" />
          </p>
        </form>
      </div><div class="index-contact">

</div></div>
</div>
    {{tag "bm_botten" .}}
</div>
</body>
</html>
