<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{tag "hope_title" .}}_{{tag "hope_catname" .}}_{{tag "hope_webname" .}}</title>
<meta name="keywords" content="{{tag "hope_title" .}},{{tag "hope_newskeywords" .}}">
<meta name="description" content="{{tag "hope_newsdescription" .}}">
<META content=阀门，球阀，闸阀 name=classification>
<link href="/css/webmain.css" rel="stylesheet" type="text/css">
</head><body oncontextmenu="return(false)" oncopy="return false;" oncut="return false;" onselectstart="return false">{{tag "bm_top" .}}<table width="972" border="0" align="center" cellpadding="0" cellspacing="0"><tr><td width="173" valign="top">
<table width="165" border="0" align="left" cellpadding="0" cellspacing="0"><tr><td width="5"><img src="/images/menu_left.jpg" width="5" height="29" /></td>
<td width="155" align="center" background="/images/menu_bg.jpg" class="F_a Font-Weight">阀门知识</td><td width="5">
<img src="/images/menu_right.jpg" width="5" height="29" /></td></tr><tr><td colspan="3" bgcolor="#F4F4F4" class="Corporation_left">{{tag "hope_newscat(12,2)" .}}</td></tr>
</table><DIV style="clear:both;"></DIV><table width="165" border="0" align="left" cellpadding="0" cellspacing="0"><tr><td width="5">
<img src="/images/menu_left.jpg" width="5" height="29" /></td><td width="155" align="center" background="/images/menu_bg.jpg" class="F_a Font-Weight">产品分类</td>
<td width="5"><img src="/images/menu_right.jpg" width="5" height="29" /></td></tr><tr><td colspan="3" bgcolor="#F4F4F4" class="Corporation_left">{{tag "hope_productscat()" .}}</td></tr>
</table><DIV style="clear:both;"></DIV><table width="165" border="0" align="left"class="Table_boder"><tr>
<td width="71" rowspan="4" align="right"><img src="/images/service.jpg" width="70" height="130" /></td><td width="18" height="30" align="right"></td>
<td width="74"><A href="/Contact.html" class="0a">业务联系</A></td></tr><tr><td height="30" align="right"></td><td height="30"><a href="/job/" class="0a">人才招聘</a></td>
</tr><tr><td height="30" align="right"></td><td height="30"><a href="/Contact.html" class="0a">客服电话</a></td></tr><tr><td height="30" align="right"></td>
<td height="30"><a href="/msg.html" class="0a">在线联系</a></td></tr></table></td><td width="812" valign="top" ><table width="812" border="0" align="right" cellpadding="0" cellspacing="0">
  <tr>
<td width="409" height="25" valign="middle" background="/images/news_news.jpg"><A href="/" class="Font_000000_B_a">
</A></td>
<td width="415" align="left"><A href="/" class="Font_000000_B_a">首页</A> - <A href="/service/" class="Font_000000_B_a">阀门知识</A> - <A href="/service/{{tag "hope_typeid" .}}.html" class="Font_000000_B_a">{{tag "hope_catname" .}}</A></td>
  </tr><tr><td colspan="2" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td height="40" align="center" class="Font-Weight Font_Size in6">{{tag "hope_title" .}}</td></tr><tr><td height="31" align="left" valign="top" class="news_sp in6">
<p>{{tag "hope_body" .}}</p><p>以上内容由彪维公司（www.bilwe.com）编写，转载请注明文章出处。</p></td>
</tr></table><table width="95%" border="0" align="center"><tr><td height="30" class="Font-Weight">&nbsp;上一条：{{tag "hope_previous" .}} &nbsp;&nbsp;下一条：{{tag "hope_next" .}}</td></tr>
</table></td></tr></table></td></tr></table></div><div align="center">{{tag "bm_botten" .}}</div></body></html>